body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.paintZone {
  width: 480px;
  height: 460px;
  border: 1px solid black;
  float: left;
  cursor: crosshair;
  background-repeat: no-repeat;
  background-image: url(https://yassine-mokni.github.io/screenshot-paint/mug.png);
  /* background: grey; */
}

.path {
  fill: none;
  stroke-width: 10px;
  stroke: #0381ff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.painting {
  width: 100%;
  height: 100%;
}

.button {
  background-color: #0381ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 50px;
}
